extends layout

block content
  h1 MartinShas Consulting, launching new webdev projects into the PaaS, Platform As A Service.
  section.css-table
    section.two-column
      section.cell
        h2 PaaS Migration Solution
        p We currently finding more interest to deploy applications to lightweight containers within the Private, Public or Hybrid Cloud
        p Openshift is a popular offering at moment and familiarizing with the CLI (command Line Interface)
      section.cell
        h2 Automation
        p Need to speedup delivery?  Why not hand those time dump repeatable tasks to the AUTOMATION.  Yeah, buzzword.
        p Ansible brings a human readable syntax to those inheriting your projectws.  Also encourages crowd-coding 
  section.css-table
    section.three-column
      section.cell
        h3 Who we are?
        p We have developer interested in short weekend work and those that will entertain long-term projects
      section.cell
        h3 What verticals?
        p We have experience within many industry verticals including insurance, software vending, government contracting
      section.cell
        h3 Methodology
        p Interative shop or Agile we can hit the ground running with either
