extends layout
 
block content
  h1 MartinShas Consulting - Let us move your project forward.
  section.css-table
    section.two-column
      section.cell
        h2 Twitter.com @MartinShasINC
        p You can find us moderately active on Twitter but please understand not all views are share by MartinShasINC the agency.
        p Usually rather the opinions of one of our advisory dev; that guy has the time available to post due to being a public traansportation all-star. Please DM with any comments or willingness to partner on projects. 
      section.cell
        h2 GitHub Repository
        p Our web codebase is mostly public and readily accessible at https://github.com/martinshas
        p Be informed that this repo represents on the web tier and other projects are within private SVN if working on commercial project, Intellectual Property concerns or other per client requirement
  section.css-table
    section.three-column
      section.cell
        h3 Let's Collaborate
        p Currently working on few WhiteHat find bug initiatives. Willing to pair 
      section.cell
        h3 Email - admin@martinshas.com
        p Still like to crankup the old inbox?  We hear ya, hit us up!  We check it regularly.
      section.cell
        h3 Find Us on Freelance platforms
        p Find a few of our devs on known freelancers sites lurking for lunch money UPWORK, HUBSTAFF, FIVVER
