extends layout

block content
  h1  MartinShas Consulting, Let's collaborate and build together
  section.css-table
    section.two-column
      section.cell
        h2 Node.js
        p Currently working on MEAN stack solutions understanding fully howto transform those old-school packaged apps.  
        p Why Node.js ?  Welp, it is literally the N in MEAN.  Also, with each next generation framework, devs can benefit from the abstraction.  Node.js offers multiple advantages around backend 
      section.cell
        h2 Virtual Reality / Augemented Reality
        p Everything in this world falls within a spectrum of PHYSICAL WORLD versus full immersion.  VR/AR happens to push the majority closer to the latter.
        p Looking for partners in AR/VR be leveraged for therapeutic needs.  There are millions that can gain the help they need with advances in this space.
  section.css-table
    section.three-column
      section.cell
        h3 Lightweight Containers
        p Tired of publishing your fat EARs and WARs to IBM Websphere, Weblogic ?...  Lets move on
      section.cell
        h3 Automation Ninjas
        p Check out about page for more
      section.cell
        h3 Education
        p Are those bootcamps worth it?g
